<!doctype html>
<html lang="en">


<head>
    {% load staticfiles %}
    {% block ga %}
      {% include "jobs/snippets/ga.html" %}
    {% endblock ga %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Real-time 360 video stream from 1/4 mile away with RICOH THETA V">
  <meta name="author" content="THETA 360 community">
  <title>RICOH THETA VR Streaming from Drone - Project of the Month Award</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">RICOH THETA Developer Ideas Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/blog/">Ideas</a>
            <a class="nav-item nav-link" href="https://www.hackster.io/contests/theta">Contest</a>
            <a class="nav-item nav-link" href="https://community.theta360.guide/">Community</a>
  
        </div>
    </nav>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
          <img src="{% static 'theta360guide.png' %}" height="50" />

        <h1 class="jumbotron-heading">Project of the Month - Live Streaming Drone</h1>
        <p class="lead text-muted">By Jake Kenin
        </p>
        <p>
          <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437" 
          class="btn btn-primary my-2">Build Details</a>
        </p>
        <div>
          <img src="{% static 'drone.jpg' %}" height="300" />
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{% static 'drone-ground-control.png' %}" />
                  <div class="card-body">
                    <h2>
                        Ground Control Viewer
                    </h2>
                      
    
                      <p class="card-text">
    
                      Real-time 360 video stream from 1/4 mile away
                      <br />
                      Open source Amelia Viewer
                      <br>
                        Can record video to camera
                    <br />
                        Works in VR headsets
                    <br />
                      <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437?u=codetricity">
                        Code, questions, discuss</a>
                    </p>
                </div>
              </div>
            </div>

            <!-- next card -->
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{% static 'drone-flight.png' %}" />
                  <div class="card-body">
                    <h2>
                        Tested in Flight
                    </h2>
                      
    
                      <p class="card-text">
    
                      Uses RICOH API with a THETA V
                      <br />
                      Stream up to 1920x960 live from camera
                      <br>
                        Record video while displaying it
                    <br />
                    Display live or pre-recorded videos in Oculus or Vive
                    <br />
                      <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437?u=codetricity">
                        Code, questions, discuss</a>
                    </p>
                </div>
              </div>
            </div>

              <!-- next card -->
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{% static 'drone-exploded-view.png' %}" />
                    <div class="card-body">
                      <h2>
                          Open Project
                      </h2>
                        
      
                        <p class="card-text">
      
                        A-Frame and Electron interface
                        <br />
                        USB-to-Ethernet adapter with PoE
                        <br>
                          Ubiquiti Rocket 5AC Lite radio transmission
                      <br />
                      Omnicharge 13 for power

                      </p>
                  </div>
                </div>
              </div>
              <!-- end card -->
              <!-- next card -->
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{% static 'drone-mounting.png' %}" />
                    <div class="card-body">
                      <h2>
                          Cool Tech
                      </h2>
                        
      
                        <p class="card-text">
      
                        Gimbal
                        <br />
                        NanoBeam 5AC Gen2 for base station
                        <br>
                          DHCP server assigns IP to camera
                      <br />
                      Testing of RTMP and RTSP versus MPEG

                      </p>
                  </div>
                </div>
              </div>
              <!-- end card -->
              <!-- next card -->
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{% static 'drone-grass.png' %}" />
                    <div class="card-body">
                      <h2>
                          Contribute
                      </h2>
                        
      
                        <p class="card-text">
      
                        Open source project and diagrams
                        <br />
                        Need help building THETA plug-in to stream 4K video. 
                          Learn through discussion with core developer.
                      Ask questions, give feedback.  Help build the plug-in.
                      <br />
                        <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437/4?u=codetricity">
                          Code, questions, discuss</a>
                      </p>
                  </div>
                </div>
              </div>
              <!-- end card -->              
              <!-- next card -->
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{% static 'drone-bottom.png' %}" />
                    <div class="card-body">
                      <h2>
                          Cutting Edge
                      </h2>
                        
      
                        <p class="card-text">
      
                        World's first open source project to stream THETA from a drone.
                        New techniques for drone hardware, software, network transmission
                          Many challenges you can help with in this new frontier.
                      Join the fun and learning. See you in the community.
                      <br />
                        <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437?u=codetricity">
                          Join us</a>
                      </p>
                  </div>
                </div>
              </div>
              <!-- end card -->     
               <!-- next card -->
               <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{% static 'drone-parts.png' %}" />
                  <div class="card-body">
                    <h2>
                        Full Parts Listing
                    </h2>
                      
    
                      <p class="card-text">
    
                      System is about $1,000, excluding drone
                      <br />
                      Payload is roughly 6 pounds
                      <br>
                        Custom printed payload mount
                    <br />
                    5 GHz data transmission
                    <br />
                    <a href="https://community.theta360.guide/t/successful-theta-v-stream-from-drone-to-vr-headset-0-25-miles-away/4437/6?u=codetricity">
                      Details</a>
                    </p>
                </div>
              </div>
            </div>
            <!-- end card -->
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p> ©Oppkey {% now "Y"%}</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>
